html {
  font-size: 10px;
  font-family: sans-serif;
}

p {
  font-size: 1.6rem;
  line-height:1.5;
}

h1 {
  font-family: 'Arial';
  text-align: center;
  font-weight: 100;
  font-size: 13rem;
  margin: 2rem 0;
  letter-spacing: -1px;
  color: black;
}

h1 a {
  color: black;
  text-decoration: none;
}
/* @font-face {
  font-family: 'billabong';
  src: url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps');
} */

.photo-grid{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.figure {
  flex-basis: calc(33.333% - 4rem);
  border: 1px solid #d3d3d3;
  padding: 2rem;
  flex-grow: 1;
  margin: 0 2rem 2rem 2rem;
}

.photo {
  width: calc(100% + 4rem);
  margin: -2rem 0rem 0rem -2rem;
}

.single-photo {
  width: 500px;
  margin: 0px auto;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  flex-basis: 48%;
  color: red;
  font-size: 15px;
  border: 2px solid #f2f2f2;
  line-height: 2;
  padding: 5px;
}

.comment-count {
  flex-basis: 48%;
  color: green;
  border: 2px solid #f2f2f2;
  font-size: 2rem;
}

.addIcon {
  margin: 20px auto;
  display: table;
  padding: 40px;
  background: #aaaa;
  background-size:contain;
  border: none;
}

.form {
  background: white;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: none;
  padding: 15px;
  box-sizing:border-box;
  font-size: 14px;
  margin: 0 0 15px;
}

.form button {
  font-family: 'sans-serif';
  text-transform: uppercase;
  background: #065784;
  width: 100%;
  border: none;
  padding: 15px;
  color:white;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover {
  background: #7b8589;
}

button:hover {
  border-color: blue;
}

.comment-count {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.loader {
  height: 20%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 28pt;
}
